body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#noResultsMessage {
    margin-top: 10px;
}

.error-message {
    color: red;
}

#searchBookForm div {
    margin-bottom: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

#searchBookForm label {
    display: block; /* Mostrar la etiqueta como un elemento de bloque */
}